* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
}


.form {
    display: grid;
    /* border: 1px solid black; */
    /* grid-template-columns: 1fr 2fr 1fr; */
    padding: 50px;
    grid-column-start: 2;
    width: 100%;
    max-width: 800px;
}

form {
    align-self: center;
    justify-self: center;
    grid-column-start: 2;
    background: #FFF;
    padding: 40px 20px;
    border-radius: 10px;
    /* display: block; */
    box-shadow: 0 10px 20px 5px rgba(0 0 0 / 20%);
}

label { 
    color: #606060;
}

.input {
    margin-top: 10px;
    margin-bottom: 24px;
    padding: 10px 8px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #c6c6c6;
    /* box-shadow: inset 0 0 2px 5px  rgba(0 0 0 / 20%); */
    /* box-shadow: 0 10px 20px 5px rgba(0 0 0 / 20%); */
}

/* #button {
    display: block;
    width: 100%;
    padding: 12px 8px;
    background: black;
    color: #FFF;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    transition: all 300ms ease-in-out;
} */

/* #button:hover {
    border: none;
    display: block;
    width: 100%;
    padding: 12px 8px;
    background: transparent;
    color: #000;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #000;
} */




.respuesta {
    width: 100%;
    height: 100vh;
    position: absolute;
    /* top: -100%; */
    left: 0;
    background: rgba(0 0 0 / 80%);
    color: #FFF;
    font-size: 16px;
    padding: 40px 20px;
    opacity: 1;
    transition: all .5s ease-in-out;
    /* width: 400px; */
    /* height: 300px; */
    display: none;
    grid-template-columns: min-content auto min-content;
    align-items: center;
    
}

.respuesta span {
    display: block;
    margin-bottom: 16px;
}

.container-respuesta {
    background: black;
    width: 100%;
    padding: 40px;
    margin: 0 auto;
    grid-column-start: 2;
}

.error {
    border: 1px solid red;
}


.cerrar {
    float: right;
    cursor: pointer;
}

@media screen and (min-width: 700px){
    .form {
        /* border: 1px solid black;  */
      grid-template-columns: 1fr 2fr 1fr;
    }
}

@media screen and (min-width: 1023px){
    .container {
        grid-template-columns: auto;
    }
    .respuesta {
        grid-template-columns: repeat(3, 1fr);
    }


}


